<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="/web{{ asset_url }}"/>
        {% endstylesheets %}
    </head>
    <body>
    <nav id="w0" class="navbar-inverse navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w0-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">На главную </a>
            </div>
        </div>
    </nav>

    {% block javascripts %}{% endblock %}
    {% javascripts '@jquery' '@bootstrap_js' %}
    <script type="text/javascript" src="/web{{ asset_url }}"></script>
    {% endjavascripts %}

    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
