{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" style="margin-top: 70px;">
        <div class="container">
            <h1>Вход</h1>

            <form method="post">
                <div class="form-group">
                    <label for="nick" class="col-md-2">Логин</label>
                    <div class="col-md-10">
                        <input id="nick" class="form-control" name="nick" type="text" value="{{ nick }}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="pass" class="col-md-2">Пароль</label>
                    <div class="col-md-10">
                        <input id="pass" class="form-control" name="pass" type="password" value="{{ pass }}" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2 col-md-offset-2">
                        <button class="btn btn-info">Войти</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .form-group {
            overflow: hidden;
        }
    </style>
{% endblock %}