{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <a class="btn btn-info" href="{{ path('news_index') }}">Back to the list</a>
    <input class="btn btn-success" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
