{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogs list</h1>

    <a class="btn btn-success" href="{{ path('news_new') }}">Create a new blog</a>
    <div class="table-block">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for blog in blogs %}
                <tr>
                    <td>{{ blog.id }}</td>
                    <td><a href="{{ path('news_show', { 'id': blog.id }) }}">{{ blog.title }}</a></td>
                    <td>{{ blog.description }}</td>
                    <td>{{ blog.createdAt }}</td>
                    <td>
                        <a href="{{ path('news_show', { 'id': blog.id }) }}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a href="{{ path('news_edit', { 'id': blog.id }) }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        {% for i in 0..count %}
            <li{% if i==0 %} class="active" {% endif %}><a href="{{ path('news_page', { 'page': i }) }}">{{ i+1 }}</a></li>
        {% endfor %}
    </ul>

    <script>
        jQuery(function($) {
            $('.pagination a').click(function (e) {
                e.preventDefault();

                if ($(this).attr('disabled') || $(this).parent().hasClass('active'))
                    return;

                var url = $(this).attr('href'),
                    $this = $(this),
                    html = $(this).html();

                $(this).attr('disabled', 'disabled');
                $(this).html('<img src="/images/loading.gif" />');

                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    success: function (data) {
                        $this.attr('disabled', false);
                        $this.html(html);
                        $this.parent().addClass('active');
                        $this.parent().siblings().removeClass('active');
                        $('.table-block').html(data);
                    }
                })
            })

        })
    </script>
{% endblock %}
