<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for blog in blogs %}
        <tr>
            <td>{{ blog.id }}</td>
            <td><a href="{{ path('news_show', { 'id': blog.id }) }}">{{ blog.title }}</a></td>
            <td>{{ blog.description }}</td>
            <td>{{ blog.createdAt }}</td>
            <td>
                <a href="{{ path('news_show', { 'id': blog.id }) }}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a href="{{ path('news_edit', { 'id': blog.id }) }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>