{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog</h1>

    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blog.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ blog.description }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ blog.text }}</td>
            </tr>
            <tr>
                <th>Created At</th>
                <td>{{ blog.createdAt }}</td>
            </tr>
        </tbody>
    </table>

    {{ form_start(delete_form) }}
    <a class="btn btn-info" href="{{ path('news_index') }}">Back to the list</a>

    <a class="btn btn-warning" href="{{ path('news_edit', { 'id': blog.id }) }}">Edit</a>

    <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
